/*------------------
        RESET
-------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------
        RESET
-------------------*/


/*------------------
        COMMON
-------------------*/


body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #009688 20%, #d9dbd5 0%); 
    font-family: 'Lato', sans-serif;
}

img{
    width: 100%;
}

.d-flex{
    display: flex;
}

.big-container{
    max-width: 1280px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    width: 100%;
    height: calc(100vh - 40px);;
    background-color: white; 
}

.aside-bar{
    width: 40%;
    height: 100%;
    background-color: #ffffff;
}

.chat-side{
    width: 100%;
    height: 100%;
    background-color: bisque;
    flex-direction: column;
}

/*------------------
        COMMON
-------------------*/




/*------------------
    CORE PROJECT
-------------------*/



/*------------------
     ASIDE-BAR
-------------------*/

/* Header aside bar */
.header-aside-bar{
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    padding-right: 20px;
    background-color:#eaeaea;
}

.user-avatar{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.user-avatar img{
    border-radius: 50%;
}

.user-icon{
    color:#b1b1b1 ;
    flex-grow: 1;
    text-align: end;
}
.user-icon i{
    padding: 0 8px;
}
/* Header aside bar */

/* Notification bar */

.notifications-bar{
    padding: 15px 20px;
    background-color:#8edafc ;
    height: 80px;
}

.icon-notification{
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #f2fbff;
    border-radius: 50px;
}

.icon-notification i{
    font-size: 20px;
    color: #8edafc;
}

.text-notification{
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
}

.text-notification a{
    font-size: .8125rem;
    color: #b1b1b1;
}
/* Notification bar */

 /* Search contact bar */
 .search-contact{
    height: 50px;
    background-color: #fafafa;
    padding: 8px;
 }

 .icon-search-contact{
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 75px;
    background-color:#ffffff;
    color: #b1b1b1;
 }

 .form-bar-search{
    flex-grow: 1;
    height: 35px;
    background-color: #ffffff;
 }

.form-bar-search input{
    height: 100%;
    width: 100%;
    padding: 10px;
    border: none;
}
 /* Search contact bar */

 /* List contatc */

 .container-contact{
    flex-direction: column;
    height: 635px;
    background-color: aquamarine;
    width: 100%;
    overflow-y: auto;
 }

.contact{
    padding: 10px;
    padding-left: 20px;
    padding-right: 10px;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: #b1b1b1;
}

.bg-contact {
    background-color:#e9ebeb ;
}

.avatar-contact{
    height: 60px;
    width: 60px;
}

.avatar-contact img{
    border-radius: 50%;
}

.text-contact{
    flex-grow: 1;
    margin: 0 20px;
}

.text-contact p, .date-contact p{
    font-size: 13px;
    color: #b1b1b1;
}
 /* List contatc */

 /*------------------
     ASIDE-BAR
-------------------*/




/*------------------
    CHAT ASIDE-BAR
-------------------*/

/* COMMON */
.header-chat-side{
    padding: 10px;
    padding-left: 10px;
    padding-right: 15px;
    background-color: #eaeaea;
    border-left:1px solid #b1b1b165;
}


.main-chat{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
}

.footer-chat{
   height: 75px;
   background-color: #f3eeea;
   padding: 10px; 
}
/* COMMON */




/* header-chat side */
.header-avatar-select{
    height: 50px;
    width: 50px;
}

.header-avatar-select img{
    border-radius: 50%;
}

.text-header-chat{
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 20px;
}

.text-header-chat p{
    font-size: 13px;
    color: #b1b1b1;
}

.icon-header-chat i{
    padding:0 10px;
    font-size: 1.25rem;
    color: #b1b1b1;
}

.icon-header-chat{
    align-items: center;
}
/* header-chat side */


/* Main chat */
.container-global-message{
    margin:30px 40px;
    
}

.container-message{
    justify-content: flex-end;
    padding-bottom: 10px;
    
}

.message{
    min-width: 30%;
    max-width: 45%;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.sent{
    background-color: #d5f9ba;
}

.received{
    justify-content: flex-start;
}




/* footer chat */
.icon-footer-chat-smile, .icon-footer-chat-microphone{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
}
.icon-footer-chat-smile i, .icon-footer-chat-microphone i{
    font-size: 20px;
    color: #b1b1b1;
}

.bar-chat-footer{
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.bar-chat-footer input {
    padding: 0 10px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
}

/* footer chat */


/*------------------
    CHAT ASIDE-BAR
-------------------*/